html body {
  margin:0;
  padding:0;
  border:0;
  overflow:hidden;
  height:100%;
  max-height:100%;
}

.title {
  float:right;
  top: 0px;
  right:450px;
  position:fixed;
}

#escapedxml {
  position:fixed;
  top:0;
  left:0;
  right:400px;
  bottom:0;
  overflow:auto;
}

#commentaccordian {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  width:400px;
  height:100%;
  overflow:auto;
  background:navy;
  color:white;
}

.commentbox {
  display:none;
}

.commenthdr {
  padding: 5px;
  display:none;
  color: black;
  background-color:#bbbbbb;
}

.pad {
  margin:15px;
}

.hotzone {
  cursor: pointer;
}

.indent {
  margin-left: 1em;
  margin-right: 1em;
  min-height: 1em;
}
