.title {
  color:white;
}

.xmlcontent {
  background-color: black;
  color: #aaaaaa;
  padding: 1em;
}

.comment {
  color: #555555;
}

.tag {
  color: LightSeaGreen;
}

.attrkey {
  color: cyan;
}

.attrval {
  color: yellow;
}

.hovered0 {
  background-color: #660000;
}

.hovered1 {
  background-color: #550000;
}

.hovered2 {
  background-color: #440000;
}

.hovered3 {
  background-color: #330000;
}

.hovered4 {
  background-color: #220000;
}

.hovered5 {
  background-color: #110000;
}

.thover0 {
  background:   #660000;
}

.thover1 {
  background:   #550000;
}

.thover2 {
  background:   #440000;
}

.thover3 {
  background:   #330000;
}

.thover4 {
  background:   #220000;
}

.thover5 {
  background:   #110000;
}
